In [1]:
import pandas as pd

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="harshil",
  database = 'test2'
)

In [3]:
cur = mydb.cursor(dictionary = True,buffered = True)

In [4]:
cur.execute("USE test2")
cur.execute("SHOW TABLES;")
res = cur.fetchall()
for x in res:
    print(x)

{'Tables_in_test2': 'cart'}
{'Tables_in_test2': 'delivery'}
{'Tables_in_test2': 'diwali_deals'}
{'Tables_in_test2': 'past_orders'}
{'Tables_in_test2': 'product_books'}
{'Tables_in_test2': 'product_elec'}
{'Tables_in_test2': 'product_furn'}
{'Tables_in_test2': 'products'}
{'Tables_in_test2': 'registered_users'}
{'Tables_in_test2': 'retailer'}
{'Tables_in_test2': 'search_history'}

In [31]:
# Q2

def q2(val):
    query1 = "update registered_users set Cust_Name = 'Anonymous',Mail_ID = NULL,Pass = NULL where User_I = %s;"
    cur.execute(query1,(val,))
    query2 = "update past_orders set Rating = NULL,Review = NULL where User_I = %s;"
    cur.execute(query2,(val,))
    query3 = "delete from cart where User_I = %s;"
    cur.execute(query3,(val,))
    query4 = "delete from delivery where User_I = %s;"
    cur.execute(query4,(val,))
    query5 = "delete from search_history where User_I = %s;"
    cur.execute(query5,(val,))
    cur.execute("select * from registered_users")
    res = cur.fetchall()
    print(pd.DataFrame(res))
q2(384)

    Cust_Name           Mail_ID    Pass    Reg_Date  User_I
0      Rakesh   cust3@gmail.com   klmno  2019-06-08      51
1       Raman   cust6@gmail.com   kuhjy  2015-06-07      55
2     Harshil    cust@gmail.com   abcde  2001-02-01     101
3       Rohit   cust9@gmail.com   kuhjy  2016-06-14     365
4   Anonymous              None    None  2014-06-04     384
5    Sangeeta  cust11@gmail.com  kiujhy  2019-04-18     487
6      Kartik  cust10@gmail.com   kuhjy  2018-04-17     489
7       Abhay   cust8@gmail.com   kuhjy  2019-11-15     657
8       Komal   cust5@gmail.com   uvwxy  2017-11-15     687
9         Sam   cust2@gmail.com   fghij  2008-08-06     967
10    Kaushal   cust7@gmail.com   kuhjy  2014-03-08     987

In [6]:
# Q3
def q3(val1,val2):
    query = "update products set Price = %s*Price where Product_ID in (select Product_ID from  (select T.Product_Id, views, Price from  (select Product_ID, count(*) as views from search_history group by Product_ID) as T  join products on T.Product_ID = products.Product_ID) as R where R.views<10 and R.Price>%s);"
    cur.execute(query,(val1,val2))
    cur.execute("select * from products;")
    res = cur.fetchall()
    print(pd.DataFrame(res))
q3(0.9,5000)

   Date_when_added   Price Product_Description  Product_ID  \
0       2017-03-24   49410                None          51
1       2018-03-02    5200                None         101
2       2020-02-06    1500                None         102
3       2019-09-19    3050                None         103
4       2016-07-18    7500                None         104
5       2020-02-03     500                None         105
6       2020-01-01   23490                None         107
7       2018-03-02   42120                None         108
8       2018-08-04   16000                None         109
9       2019-06-30   90000                None         110
10      2020-02-01  120000                None         111
11      2019-12-31   10000                None         112
12      2019-04-01   28000                None         113
13      2018-11-09   15600                None         114
14      2019-10-01   11745                None         115
15      2018-11-05    1200                None         116
16      2005-02-01    5412                None         117
17      2016-08-04    2450                None         118
18      2018-03-05    1456                None         119
19      2017-09-16    1987                None         120
20      2019-06-30    2000                None         121
21      2020-02-01    5000                None         122
22      2019-12-31   16200                None         123
23      2019-04-01   43740                None         124
24      2018-11-09   19683                None         125
25      2018-11-05    1000                None         126
26      2005-02-01    2000                None         127
27      2016-08-04    3000                None         128
28      2018-03-05    4500                None         129
29      2017-09-16    5265                None         130

            Product_Name Product_Type  Quantity_left Retailer_Name
0   Dell Inspiron Laptop  Electronics             15          lkea
1        The Lost Symbol         Book             10          lkea
2           Harry Porter         Book             12           ram
3         The Book Thief         Book              5           ram
4      The Ends of World         Book             15        ramesh
5     Living with a Seal         Book             34         abhay
6      Oracle Smartphone  Electronics              2          lkea
7     HP Pavilion Laptop  Electronics             12          yash
8            Vivo Z1 Pro  Electronics             50        ramesh
9      Apple Macbook Air  Electronics             14         abhay
10                  Sofa    Furniture             16          yash
11              Armchair    Furniture             18           ram
12                   Bed    Furniture             16        ramesh
13                Cradle    Furniture             24          lkea
14                 Table    Furniture              1         abhay
15           Start Again         Book              5         abhay
16        Lost in Battle         Book              4           ram
17          Perfect Fake         Book              6        ramesh
18      Elegantly Wasted         Book             15           ram
19            Hate Burns         Book             25          yash
20          Redmi Note 7  Electronics             15         abhay
21         Asus Predator  Electronics             14           ram
22           Asus Laptop  Electronics             12        ramesh
23        HP Omen Laptop  Electronics              9           ram
24           Motorola Z5  Electronics             11          yash
25               Cabinet    Furniture             17         abhay
26            Game Table    Furniture             16           ram
27            Deck Chair    Furniture             18        ramesh
28             Hall Tree    Furniture             15           ram
29               Big Bed    Furniture             20          yash

In [30]:
# Q4
def q4(v1,v2,v3,v4,v5,v6,v7,v8):
    query = "INSERT INTO delivery(Ind,User_I,Delivery_Address,City) VALUES (%s,%s,%s,%s);"
    cur.execute(query,(v1,v2,v3,v4))
    query1 = "INSERT INTO delivery(Ind,User_I,Delivery_Address,City) VALUES (%s,%s,%s,%s);"
    cur.execute(query1,(v5,v6,v7,v8))
    cur.execute("select * from delivery")
    res = cur.fetchall()
    print(pd.DataFrame(res))
q4(11,101,'chdbfuyebfy','Lucknow',12,101,'yrbvgbrfubf','Ahemdabad')

         City Delivery_Address  Ind  User_I
0      Mumbai            bcgvc    1     101
1     Kolkata           behbeh    3      51
2     Chennai           cjfbhf    4     967
3      Mumbai          cecneun    5     687
4      Mumbai         jirbbfkb    6      55
5       Delhi         ehfbdjsd    7     987
6     Kolkata         vhbvhrbh    8     657
7     Chennai          ndjfhsb    9     365
8      Mumbai          hvrbhjf   10     489
9     Lucknow      chdbfuyebfy   11     101
10  Ahemdabad      yrbvgbrfubf   12     101

In [8]:
# Q5
def q5(value):
    query = "select Retailer_Name,Mail from retailer where City = %s;"
    cur.execute(query,(value,))
    res = cur.fetchall()
    print(pd.DataFrame(res))
q5('Delhi')

              Mail Retailer_Name
0    xyz@gmail.com           ram
1  user2@gmail.com         abhay
2  user7@gmail.com        harish

In [9]:
# Q6
def q6():
    cur.execute("select DISTINCT Mail_ID,T.User_I,R.Cust_Name from (select User_I,SUM(Total_Amount) as Total from past_orders group by User_I having Total>=5000) as T join (select User_I,Mail_ID,City,Cust_Name from registered_users natural join delivery) as R on T.User_I = R.User_I where City = 'Mumbai'")
    res = cur.fetchall()
    print(pd.DataFrame(res))
q6()

  Cust_Name          Mail_ID  User_I
0   Harshil   cust@gmail.com     101
1     Komal  cust5@gmail.com     687
2     Raman  cust6@gmail.com      55

In [11]:
# Q7
def q7():
    cur.execute("select Product_Name from products  where Product_Name like '%le%'")
    res = cur.fetchall()
    print(pd.DataFrame(res))
q7()

        Product_Name
0  Oracle Smartphone
1  Apple Macbook Air
2             Cradle
3              Table
4     Lost in Battle
5   Elegantly Wasted
6         Game Table

In [13]:
# Q8
def q8():
    cur.execute("select User_I,T.Product_ID,Order_ID,Purchase_Date, Product_Name from (select User_I,Product_ID,Order_ID,Purchase_Date from past_orders where User_I = (select User_I from registered_users order by Reg_Date LIMIT 1)) as T join products on T.Product_ID = products.Product_ID")
    res = cur.fetchall()
    print(pd.DataFrame(res))
q8()

   Order_ID  Product_ID          Product_Name Purchase_Date  User_I
0      1000          51  Dell Inspiron Laptop    2019-02-01     101
1      1000         108    HP Pavilion Laptop    2017-06-24     101
2      1009         107     Oracle Smartphone    2016-06-19     101

In [15]:
# Q9
def q9():
    cur.execute("select User_I,T.Product_ID,Product_Name from (select User_I,Product_ID from cart where User_I = (select User_I from registered_users order by Reg_Date LIMIT 1 OFFSET 1)) as T join products on T.Product_ID = products.Product_ID")
    res = cur.fetchall()
    print(pd.DataFrame(res))
q9()

   Product_ID          Product_Name  User_I
0          51  Dell Inspiron Laptop     967
1         107     Oracle Smartphone     967

In [16]:
# Q10
def q10(value):
    query = "select Book_Name from product_books where Year_Published > %s"
    cur.execute(query,(value,))
    res = cur.fetchall()
    print(pd.DataFrame(res))
q10('2001')

           Book_Name
0       Harry Porter
1     Lost in Battle
2     The Book Thief
3  The Ends of World

In [17]:
# Q11
def q11(val1,val2,val3):
    query = "select Product_Type,Product_Name,Price from products  where Price between %s and %s and Product_Type = %s;"
    val1 = '10000'
    val2 = '20000'
    val3 = 'Electronics'
    cur.execute(query,(val1,val2,val3))
    res = cur.fetchall()
    print(pd.DataFrame(res))
q11('10000','20000','Electronics')

   Price Product_Name Product_Type
0  16000  Vivo Z1 Pro  Electronics
1  16200  Asus Laptop  Electronics
2  19683  Motorola Z5  Electronics

In [18]:
# Q12
def q12(val1,val2):
    query = "select Product_ID,Product_Name from products where Retailer_Name = %s and Product_Type = %s"
    cur.execute(query,(val1,val2))
    res = cur.fetchall()
    print(pd.DataFrame(res))
q12('lkea','Furniture')

   Product_ID Product_Name
0         114       Cradle

In [19]:
# Q13
def q13(val1):
    query = "select T.Product_ID, T.Product_Name, Category, Price from (select Product_ID,Product_Name,Category from product_elec where Category = %s) as T  join products on T.Product_ID = products.Product_ID order by Price"
    cur.execute(query,(val1,))
    res = cur.fetchall()
    print(pd.DataFrame(res))
q13('Laptop')

  Category  Price  Product_ID          Product_Name
0   Laptop   5000         122         Asus Predator
1   Laptop  16200         123           Asus Laptop
2   Laptop  42120         108    HP Pavilion Laptop
3   Laptop  43740         124        HP Omen Laptop
4   Laptop  49410          51  Dell Inspiron Laptop
5   Laptop  90000         110     Apple Macbook Air

In [20]:
# Q14
def q14(val):
    query = "select Product_Name from products where Date_when_added > %s"
    cur.execute(query,(val,))
    res = cur.fetchall()
    print(pd.DataFrame(res))
q14('2019-07-27')

         Product_Name
0        Harry Porter
1      The Book Thief
2  Living with a Seal
3   Oracle Smartphone
4                Sofa
5            Armchair
6               Table
7       Asus Predator
8         Asus Laptop

In [21]:
# Q15
def q15(val):
    query = "select Book_Name from product_books where Author=%s"
    cur.execute(query,(val,))
    res = cur.fetchall()
    print(pd.DataFrame(res))
q15('Franz Kafka')

        Book_Name
0  The Book Thief

In [22]:
# Q16
def q16(val):
    query = "select User_I,Mail_ID from cart natural join registered_users where Quantity < %s"
    cur.execute(query,(val,))
    res = cur.fetchall()
    print(pd.DataFrame(res))
q16(3)

           Mail_ID  User_I
0   cust@gmail.com     101
1  cust3@gmail.com      51

In [23]:
# Q17 Interpretation 1: Ordering by the quantity of each of the products within a specific Order_ID
def q17():
    cur.execute("select Order_ID, sum(Quantity) as quantity from past_orders group by Order_ID order by quantity desc LIMIT 1")
    res = cur.fetchall()
    print(pd.DataFrame(res))
q17()

   Order_ID quantity
0      1000        6

In [24]:
# Q17 Interpretation 2: Ordering by the total unique number of products within a specific Order_ID
def q17():
    cur.execute("select Order_ID, COUNT(*) as total_no_of_products from past_orders group by Order_ID order by total_no_of_products desc LIMIT 1")
    res = cur.fetchall()
    print(pd.DataFrame(res))
q17()

   Order_ID  total_no_of_products
0      1000                     2

In [25]:
# Q18
def q18(val):
    query = "select Product_Name from products where Date_when_added > %s"
    cur.execute(query,(val,))
    res = cur.fetchall()
    print(pd.DataFrame(res))
q18('2020-01-30')

         Product_Name
0        Harry Porter
1  Living with a Seal
2                Sofa
3       Asus Predator

In [26]:
# Q19
def q19(val):
    query = "select Retailer_ID from products natural join past_orders natural join retailer where User_I = %s"
    cur.execute(query,(val,))
    res = cur.fetchall()
    print(pd.DataFrame(res))
q19(55)

   Retailer_ID
0            1
1            3

In [28]:
# Q20

def q20(val1,val2):
    cur.execute("DROP TABLE Diwali_Deals")
    cur.execute("CREATE TABLE Diwali_Deals select * from products;")
    cur.execute("select * from Diwali_Deals")
    query = "update Diwali_Deals set Price = %s * Price where Date_when_added > %s;"
    cur.execute(query,(val1,val2))
    cur.execute("select * from Diwali_Deals")
    res = cur.fetchall()
    print(pd.DataFrame(res))
q20(0.95,'2019-12-08')

   Date_when_added   Price Product_Description  Product_ID  \
0       2017-03-24   49410                None          51
1       2018-03-02    5200                None         101
2       2020-02-06    1425                None         102
3       2019-09-19    3050                None         103
4       2016-07-18    7500                None         104
5       2020-02-03     475                None         105
6       2020-01-01   22316                None         107
7       2018-03-02   42120                None         108
8       2018-08-04   16000                None         109
9       2019-06-30   90000                None         110
10      2020-02-01  114000                None         111
11      2019-12-31    9500                None         112
12      2019-04-01   28000                None         113
13      2018-11-09   15600                None         114
14      2019-10-01   11745                None         115
15      2018-11-05    1200                None         116
16      2005-02-01    5412                None         117
17      2016-08-04    2450                None         118
18      2018-03-05    1456                None         119
19      2017-09-16    1987                None         120
20      2019-06-30    2000                None         121
21      2020-02-01    4750                None         122
22      2019-12-31   15390                None         123
23      2019-04-01   43740                None         124
24      2018-11-09   19683                None         125
25      2018-11-05    1000                None         126
26      2005-02-01    2000                None         127
27      2016-08-04    3000                None         128
28      2018-03-05    4500                None         129
29      2017-09-16    5265                None         130

            Product_Name Product_Type  Quantity_left Retailer_Name
0   Dell Inspiron Laptop  Electronics             15          lkea
1        The Lost Symbol         Book             10          lkea
2           Harry Porter         Book             12           ram
3         The Book Thief         Book              5           ram
4      The Ends of World         Book             15        ramesh
5     Living with a Seal         Book             34         abhay
6      Oracle Smartphone  Electronics              2          lkea
7     HP Pavilion Laptop  Electronics             12          yash
8            Vivo Z1 Pro  Electronics             50        ramesh
9      Apple Macbook Air  Electronics             14         abhay
10                  Sofa    Furniture             16          yash
11              Armchair    Furniture             18           ram
12                   Bed    Furniture             16        ramesh
13                Cradle    Furniture             24          lkea
14                 Table    Furniture              1         abhay
15           Start Again         Book              5         abhay
16        Lost in Battle         Book              4           ram
17          Perfect Fake         Book              6        ramesh
18      Elegantly Wasted         Book             15           ram
19            Hate Burns         Book             25          yash
20          Redmi Note 7  Electronics             15         abhay
21         Asus Predator  Electronics             14           ram
22           Asus Laptop  Electronics             12        ramesh
23        HP Omen Laptop  Electronics              9           ram
24           Motorola Z5  Electronics             11          yash
25               Cabinet    Furniture             17         abhay
26            Game Table    Furniture             16           ram
27            Deck Chair    Furniture             18        ramesh
28             Hall Tree    Furniture             15           ram
29               Big Bed    Furniture             20          yash